$path: 'fonts/';
@font-face {
    font-family: 'FuturaBoldRegular';
    src: url('#{$path}futura-bold-webfont.eot');
    src: local('☺'),
         url('#{$path}futura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path}futura-bold-webfont.woff') format('woff'),
         url('#{$path}futura-bold-webfont.ttf') format('truetype'),
         url('#{$path}futura-bold-webfont.svg#FuturaBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
