@font-face {
    font-family: 'FuturaBoldRegular';
    src: url('futura-bold-webfont.eot');
    src: local('☺'),
         url('futura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('futura-bold-webfont.woff') format('woff'),
         url('futura-bold-webfont.ttf') format('truetype'),
         url('futura-bold-webfont.svg#FuturaBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
