@import "app-reset";
@import "fonts/futura";
$green: #198226;
$white: darken(#fff, 2%);
$black: lighten(#000, 2%);

html {
  overflow-x: hidden;
  font-size: 16px;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  line-height: 1.2;
  background-color: $white;
}
h1, h2, h3 {
  font-family: FuturaBoldRegular, helvetica neue, helvetica, arial, sans-serif;
}
h1, h2, p {
  margin-bottom: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
  color: $green;
  text-transform: uppercase;
  letter-spacing: .0125em;
}
h3 {
  margin-bottom: .5rem;
}
h4 {
  font-size: .8rem;
}

.inner {
  padding: 2rem;
}
aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 30%;
  background: $green;
  text-align: center;


  .inner {
    color: $white;
    margin-right: 2rem;
  }
  .logo {
    width: 256px;
    max-width: 100%;
    height: auto;
    margin: 0 auto 2rem;
  }
  .buttons {
    display: flex;
    margin-bottom: 1rem;
  }
  .btn {
    background: $white;
    color: $green;
    display: inline-block;
    padding: .5em 1em;
    margin: 0 .25em .25em 0;
    border: 2px transparent solid;
    width: 33%;
    text-align: center;


    &:hover {
      background-color: $green;
      border-color: $white;
      color: $white;
    }
  }
  .signoff {
    margin-bottom: 0;

    a {
      text-decoration: underline;
      font-weight: bold;

    }
  }
}
main {
  margin-left: 30%;

  > .inner {
    padding-top: 0;
  }
}
section {
  margin-bottom: 2rem;
  padding-top: 2rem;
}
article {
  margin-bottom: 1rem;

  a {
    display: block;
    border-left: .5rem solid $green;
    padding-left: 1rem;
    color: $black;
    transition: transform .2s ease;

    h3 {
      color: $green;
    }
    em {
      display: block;
      font-size: .8rem;
      color: lighten($black, 20%);
      margin-bottom: .5rem;
    }

    &:visited {
      border-left-color: $black;

      h3 {
        color: $black;
      }
    }
    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }
}
nav {
  position: fixed;
  left: 30%;
  height: 2rem;
  transform: rotate(90deg) translateY(2rem);
  transform-origin: 0 100%;
  top: 0;
  text-align: center;

  .tab {
    display: inline-block;
    line-height: 2rem;
    padding: 0 1em;
    color: $white;
    background: $green;
    text-transform: uppercase;
    font-size: 1.2rem;

    &:hover {
      color: $green;
      background: $white;
    }
  }
  .about {
    display: none;

  }
}
@media screen and (max-width: 1200px) {
  aside {
    .buttons {
      display: block;
      .btn {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  aside {
    position: static;
    width: 100%;
    height: auto;

    > .inner {
      margin-right: 0;
    }
    .btn {
      max-width: 32%;
    }
  }
  nav {
    display: none;
  }
  main {
    margin: 0;
    max-width: 100%;
    overflow: hidden;
  }
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  aside {
    .inner {
      padding: 1rem;
    }
    .btn {
      max-width: 100%;
    }
  }
}
