@import "app-reset";
@import "fonts/futura";
$col: 360px;
$gutter: 20px;
$green: #198226;
$sand: #eaeadc;
$white: darken(#fff, 2%);
$black: lighten(#000, 2%);


html {
  font-size: 14px;
  overflow-x: hidden;
}

body {
  background-color: $sand;
  color: $black;
}

h1,
h2,
h3 {
  font-family: FuturaBoldRegular, helvetica neue, helvetica, arial, sans-serif;
}

h1 {
  font-size: 4rem;
  max-width: 11em;
  margin: 0 auto 2rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
  font-style: italic;
}


header {
  background-color: $green;
  background-image: url(texture.png);

  color: $white;
  padding: 2rem;
  position: relative;

  .inner {
    text-align: center;
    border: 8px double $white;
    padding: 2rem;
    margin: auto;
    min-height: 50vh;
  }

  img {
    display: block;
    margin: 0 auto 2rem;
  }

  p {
    font-size: 1.8rem;
    max-width: 22em;
    margin: 0 auto;
  }

  &::after,
  &::before {
    z-index: -1;
    content: '';
    width: 100%;
    height: 1rem;
    display: block;
    position: absolute;
    bottom: .25rem;
    background-color: rgba(#000, .4);
    box-shadow: 0 0 2rem rgba(#000, .4);
  }
  &::after {
    right: 0;
    transform: rotate(.5deg) translateX(2%);
  }
  &::before {
    left: 0;
    transform: rotate(-.5deg) translateX(-2%);
  }
}
.btn {
  background-color: $green;
  font-family: FuturaBoldRegular;
  font-size: 20px;
  display: inline-block;
  padding: .5em 1em;
  margin-bottom: .25em;
  color: $white;
}
section {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;

  &.intro {
    p {
      margin: 0 0 1.3rem;
      line-height: 1.2;
      font-size: 1.4rem;
    }
  }
}

article {
  margin-bottom: $gutter;
  border-left: 1rem solid $green;
  padding-left: 1rem;
  transition: transform .1s ease-in;

  &:hover {
    transform: scale(1.05);
  }

  em {
    color: rgba($black, .8);
    font-style: italic;
    font-size: 1rem;
  }
}

footer {
  padding: 4rem;
  text-align: center;

  p {
    font-family: FuturaBoldRegular;
    font-size: 1.5rem;

    a {
      color: $green;
    }
  }
}
